<div class="consuption">
	<typeahead items="items" cancel-button="Cancelar" title="Buscar Alimento" model="search" item-selected="itemSelected" on-select="onItemSelected(item)" on-cancel="cancel()"></typeahead>
	<div class="card" ng-if="itemList.length == 0">
		<div class="item item-divider">
			<div class="row">
				<div class="col">No ha seleccionado ningún alimento</div>
			</div>
		</div>
	</div>
	<div class="card" ng-repeat="message in messages track by $index">
		<div class="item item-divider" style="background: darkgrey;">
			<div class="row">
				<div class="col">{{message}}</div>
			</div>
		</div>
	</div>
	<div class="card" ng-repeat="food in itemList track by $index">
		<div class="item item-divider">
			<div class="row">
				<div class="col">{{food.name}}</div>
				<div class="col" style="text-align:right">
					<i class="icon ion-trash-a" ng-if="!isPatient" ng-click="delete($index)"></i>
				</div>
			</div>
		</div>
		<div class="item item-text-wrap">
			<ul>
				<li>
					<div class="row">
						<div class="col">Cantidad:</div>
						<div class="col" style="text-align: right">
							<button class="button button-small button-assertive" ng-click="removeOne(food)">
								<i class="icon ion-minus-circled"></i>
							</button>
							<button class="button button-small button-light">{{food.quantity || 1}}</button>
							<button class="button button-small button-assertive" ng-click="addOne(food)">
								<i class="icon ion-plus-circled"></i>
							</button>
						</div>
					</div>
					<div class="row">
						<ul>
							<li>Carbohidratos: {{food.quantity*food.carbohydrates}}</li>
							<li>Grasas: {{food.quantity*food.fat}}</li>
							<li>Azúcares: {{food.quantity*food.sugar}}</li>
						</ul>
					</div>
            	</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="button button-block button-balanced" ng-if="itemList.length != 0" ng-click="save()">Grabar</button>
			<button class="button button-block button-assertive" ng-click="cancelFood()">Cancelar</button>
		</div>
	</div>
</div>