<div class="index">
	<div class="card">
		<div class="item item-divider">Índice de glucosa</div>
		<div ng-show="!errorReport && labelsIG.length != 0" class="item item-text-wrap">
			<canvas id="line" class="chart chart-line" chart-data="dataIG"
				chart-labels="labelsIG" chart-series="seriesIG"
			</canvas>
		</div>
		<div ng-show="errorReport" class="item item-text-wrap">No pudimos cargar el reporte.</div> 
		<div ng-show="!errorReport && labelsIG.length == 0" class="item item-text-wrap">No hay registros.</div> 
		<button class="button button-full button-assertive not-margin" ng-click="showGlocuseForm()">Registrar índice de glucosa</button>
	</div>
	<div class="card">
		<div class="item item-divider">Consumos</div>
		<div ng-show="!errorReport && labelsC.length != 0" class="item item-text-wrap">
			<canvas id="bar" class="chart chart-bar"
			  chart-data="dataC" chart-labels="labelsC" chart-series="seriesC"
			</canvas>
		</div>
		<div ng-show="errorReport" class="item item-text-wrap">No pudimos cargar el reporte.</div> 
		<div ng-show="!errorReport && labelsC.length == 0" class="item item-text-wrap">No hay registros.</div> 
		<a class="button button-full button-balanced not-margin" ng-href="#/app/consuption">Ir a regstrar consumo de alimentos</a>
	</div>
</div>