<div class="logo">
    <img src="img/logo.png" alt="logo">
</div>
<form ng-submit="doLogin()" id="form-login">
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" ng-model="loginData.email" placeholder="Email">
        </label>
        <label class="item item-input">
            <input type="password" ng-model="loginData.password" placeholder="Contraseña">
        </label>
        <button class="button button-block button-balanced" type="submit">Ingresar</button>
        <a class="button button-block button-positive" ng-href="#/register">Regístrate</a>
    </div>
</form>