<div class="medicine">
	<typeahead items="items" cancel-button="Cancelar" title="Buscar Medicamento" model="search" item-selected="itemSelected" on-select="onItemSelected(item)" on-cancel="cancel()"></typeahead>
	<div class="card" ng-if="itemList.length == 0">
		<div class="item item-divider">
			<div class="row">
				<div class="col">No ha seleccionado ningún medicamento</div>
			</div>
		</div>
	</div>
	<div class="card" ng-repeat="medicine in itemList track by $index">
		<div class="item item-divider">
			<div class="row">
				<div class="col">{{medicine.name}}</div>
				<div class="col" style="text-align:right">
					<i class="icon ion-trash-a" ng-if="!isPatient" ng-click="delete($index)"></i>
				</div>
			</div>
		</div>
		<div class="item item-text-wrap">
			<ul>
				<li>
					<label class="item item-input">
                    	<input type="number" string-to-number ng-model="medicine.quantity" placeholder="Cantidad">
                	</label>
            	</li>
				<li>
					<label class="item item-input item-select">
	                    <div class="input-label">Intervalo</div>
	                    <select ng-model="medicine.interval">
	                        <option value="0.5">Media hora</option>
	                        <option value="1">1 hora</option>
	                        <option value="1.5">1 hora y media</option>
	                        <option value="2">2 horas</option>
	                        <option value="3">3 horas</option>
	                        <option value="4">4 horas</option>
	                        <option value="6">6 horas</option>
	                        <option value="8">8 horas</option>
	                        <option value="12">12 horas</option>
	                        <option value="24">1 día</option>
	                    </select>
	                </label>
            	</li>
            	<li>
					<label class="item item-input item-select">
	                    <div class="input-label">Tipo</div>
	                    <select ng-model="medicine.type">
	                        <option value="oral">Oral</option>
	                        <option value="inyectable">Inyectable</option>
	                    </select>
	                </label>
            	</li>
            	<li>
					<label class="item item-input">
                    	<input type="text" ng-model="medicine.observation" placeholder="Obsertvación">
                	</label>
            	</li>
            	<li class="item item-toggle">
			     Tratamiento iniciado
			     <label class="toggle toggle-assertive">
			       <input type="checkbox" ng-model="medicine.started">
			       <div class="track">
			         <div class="handle"></div>
			       </div>
			     </label>
			  </li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="button button-block button-balanced" ng-if="itemList.length != 0" ng-click="save()">Grabar</button>
			<button class="button button-block button-assertive" ng-click="cancelMedicine()">Cancelar</button>
		</div>
	</div>
</div>