<div class="mymedicine">
	<div class="card" ng-if="medicine.length == 0">
		<div class="item item-divider">
			<div class="row">
				<div class="col">No tiene medicamentos asignados</div>
			</div>
		</div>
	</div>
	<div class="card" ng-repeat="item in medicine track by $index">
		<div class="item item-divider">
			<div class="row">
				<div class="col">{{item.medicine.name}}</div>
				<div class="col" style="text-align:right">
					<button class="button button-small button-assertive" ng-if="!item.started_at" ng-click="init(item)">Iniciar tratamiento</button>
				</div>
			</div>
		</div>
		<div class="item item-text-wrap">
			<ul>
				<li>Tomar cada {{item.interval}} hora(s)</li>
				<li>Observación: {{item.observation}}</li>
				<li>Cantidad: {{item.quantity}}</li>
				<li>Iniciado: {{item.started_at ? 'SI' : 'No'}}</li>
			</ul>
		</div>
	</div>
</div>