<div class="ranges">
	<div class="card not-padding" ng-if="!isPatient">
		<div class="item item-divider not-margin">
			<button class="button button-full button-balanced not-margin" ng-click="new()">Agregar un nuevo rango</button>
		</div>
	</div>
 	<label class="item" ng-if="ranges.length == 0">No tienes rangos establecidos</label>
	<div class="card" ng-repeat="range in ranges track by $index">
		<div class="item item-divider">
			<div class="row">
				<div class="col">{{range.type}}</div>
				<div class="col" style="text-align:right">
					<i class="icon ion-edit" ng-if="!isPatient" ng-click="new(range)"></i>
					<i class="icon ion-trash-a" ng-if="!isPatient" ng-click="delete(range)"></i>
				</div>
			</div>
		</div>
		<div class="item item-text-wrap">
			<ul>
				<li>Mínimo: {{range.min}}</li>
				<li>Máximo: {{range.max}}</li>
			</ul>
		</div>
	</div>
</div>