<ion-view class="register">
    <div class="bar bar-header bar-dark">
        <h1 class="title">Registro</h1>
    </div>
    <ion-content>
        <form ng-submit="register()" id="form-register">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" ng-model="registerData.firstName" placeholder="Nombres">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="registerData.lastName" placeholder="Apellidos">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Género
                    </div>
                    <select ng-model="registerData.gender">
                        <option value="m">Hombre</option>
                        <option value="f">Mujer</option>
                    </select>
                </label>
                <label class="item item-input">
                    <div class="input-label">
                       Fecha de Nacimiento
                    </div>
                    <input type="date" ng-model="registerData.birthday">
                </label>
                <label class="item item-input">
                    <input type="email" ng-model="registerData.email" placeholder="Email">
                </label>
                <label class="item item-input">
                    <input type="password" ng-model="registerData.hashedPassword" placeholder="Contraseña">
                </label>
                <button class="button button-block button-balanced" type="submit">Registrar</button>
                <a class="button button-block button-assertive" ng-href="#/login">Cancelar</a>
            </div>
        </form>
    </ion-content>
</ion-view>