<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Registra tu índice de glucosa</h1>
    </ion-header-bar>
    <ion-content style="padding: 10px;">
        <div class="item item-divider">índice</div>
        <label class="item item-input">
            <input type="number" string-to-number  ng-model="glucoseData.glucoseIndex" maxlength="16">
        </label>
        <button class="button button-block button-balanced" ng-click="registerGlucose()">Registrar</button>
        <button class="button button-block button-assertive" ng-click="hideGlucoseForm()">Cancelar</button>
    </ion-content>
</ion-modal-view>