<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
        <ion-view>
          <ion-content>
            <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
          </ion-content>
        </ion-view>
       </ion-nav-bar>
  </ion-side-menu-content>

  <!-- Side Menu (left) -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menú</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <div class="item item-avatar">
          <img ng-show="isM" src="img/m.png">
          <img ng-show="!isM" src="img/f.png">
          <h2>Hola</h2>
          <p>{{name}}</p>
        </div>
        <ion-item menu-close ng-href="#/app/index">Mi información</ion-item>
        <ion-item menu-close ng-href="#/app/ranges">Rangos</ion-item>
        <ion-item menu-close ng-href="#/app/medicine">Registrar Medicamentos</ion-item>
        <ion-item menu-close ng-href="#/app/mymedicine">Mis Medicamentos</ion-item>
        <ion-item menu-close ng-href="#/app/consuption">Registrar Consumo</ion-item>
        <ion-item menu-close ng-click="sendAlert()">Botón de emergencia</ion-item>
        <ion-item menu-close ng-click="logout()">Cerrar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>