<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title" ng-if="!edit">Nuevo rango</h1>
        <h1 class="title" ng-if="edit">Rango: {{rangeData.type}}</h1>
    </ion-header-bar>
    <ion-content style="padding: 10px;">
        <label class="item item-input item-select">
            <div class="input-label">Tipo</div>
            <select ng-model="rangeData.type">
                <option value="Azucar">Azúcar</option>
                <option value="Carbohidratos">Carbohidratos</option>
                <option value="Grasas">Grasas</option>
                <option value="Glucosa">Glucosa</option>
            </select>
        </label>
        <div class="item item-divider">Mínimo</div>
        <label class="item item-input">
            <input type="number" string-to-number  ng-model="rangeData.min" maxlength="16">
        </label>
        <div class="item item-divider">Máximo</div>
        <label class="item item-input">
            <input type="number" string-to-number  ng-model="rangeData.max" maxlength="16">
        </label>
        <button class="button button-block button-balanced" ng-click="registerRange()">Registrar</button>
        <button class="button button-block button-assertive" ng-click="hideRangeForm()">Cancelar</button>
    </ion-content>
</ion-modal-view>