<div class="bar bar-header item-input-inset">
	<label class="item-input-wrapper">
		<i class="icon ion-ios-search placeholder-icon"></i>
		<input ng-model="model" type="search" placeholder="{{title}}">
	</label>
	<button class="button button-assertive" ng-click="handleCancel()">{{cancelButton}}</button>
</div>

<div class="items" ng-hide="!model.length">
  <div class="item" ng-repeat="item in items | filter:model  track by $index" ng-click="handleSelection(item)" style="cursor:pointer" ng-class="{active:isCurrent($index)}" ng-mouseenter="setCurrent($index)">
    <p class="title">{{item.name}}</p>
    <p class="subtitle">{{item.description}}</p>
  </div>
</div>