.logo{
    width: 50%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}
.logo img{
    width:100%;
}
.register ion-content, .index, .ranges, .medicine, .mymedicine, .consuption {
    margin-top: 40px;
}
.not-margin{
	margin: 0;
}
.not-padding{
	padding: 0;
}
.pane, .view {
	overflow: auto;
}
